<div class="container-fluid strip">
</div>
<div class="container-fluid bg-info">
    <div class="container">
    <div class="row ">
        <div class="col-lg-4 my-3">
            <button (click)="searchImages()" class="btn btn-warning float-end">Search</button>
            <input [(ngModel)]="inputSearch" type="text" placeholder="Search" class="form-control float-end w-75">
        </div>
        <div class="col-lg-4 m-3">
            <label class="float-start m-2">sort by</label>
            <select  class="form-select w-75">
                <option>value</option>
                <option>value</option>

                
            </select>
        </div>
    </div>
    </div>
</div>
